<html ng-app="CogApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  </body>
    <div class="container " style="" ng-controller="CogCtrl" >
      <button class="btn btn-primary btn-lg" ng-click="startTest()">start</button>
      <label for="number_of_tests">Number of tests</label>
      <select id="number_of_tests" ng-init="test_len" ng-model="test_len" ng-options="i for i in [1,2,3,4,5,6,7]"></select>
      <label for="timeout">Time between tests</label>
      <select id="number_of_tests" ng-init="timeout" ng-model="timeout" ng-options="i for i in [1,2,3,4,5,6,7]"></select>
      <div class="row">
	<div ng-repeat="d in data track by $index" class="square">
	   <div class="content" ng-class="ans[$index]">
		<div class="table">
		    <div class="table-cell">
			{{ d[idx] }}
		    </div>
		</div>
	      <input type="number" class="form-control" ng-model="value[$index]" ng-show="input_answer" />
	    </div>
	</div>
      </div>
      <button style="margin-top: 20px;" class="btn btn-primary btn-lg" ng-click="checkAnswer()" ng-show="input_answer">check</button>
    </div>
  </body>
</html>
