html, body {
	height: 100%;
}

.circle {
	width: 100px;
	height: 100px;
	line-height: 100px;
	border: 1px black solid;
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    /* overflow:hidden; */
}

.content {
    position:absolute;
    height:90%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5% 5%;
    background-color: #ddeeff;
}

.red {
    background-color: #dd1111;
}

.green {
    background-color: #11cc11;
}

.table{
    display:table;
    height:100%;
    width:100%;
    padding: 0;
    margin: 0;
}

.table-cell{
    padding: 0;
    margin: 0;
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    height:100%;
    width:100%;
    font-size: 4.5em;
    font-weight: bold;
}
